.grid-col-span-2 {
  grid-column: span 2;
}

.grid-col-span-4 {
  grid-column: span 4;
}

.grid-container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
 
}

.article1 {
  height: 10rem;
  border: red solid 3px;
}

.article2 {
  border: greenyellow solid 3px;
}

.article3 {
  border: purple solid 3px;
}

.article4 {
  border: blue solid 3px;
}

.article5 {
  border: orange solid 3px;
  height: 10rem;
}

.article6 {
  border: yellow solid 3px;
}

.article7 {
  border: navy solid 3px;
  height: 20rem;
}
